@import url(/../node_modules/purecss/build/base.css);
@import url(/../node_modules/purecss/build/grids.css);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700|Questrial);
@import url(https://fonts.googleapis.com/css?family=Arbutus+Slab|Frank+Ruhl+Libre|Kreon|Neuton);
@font-face {
  font-family: 'fontello';
  src: url(fonts/fontello.eot);
  src: url(fonts/fontello.eot#iefix) format('embedded-opentype'),
       url(fonts/fontello.woff2) format('woff2'),
       url(fonts/fontello.woff) format('woff'),
       url(fonts/fontello.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?22802629#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\E800'; } /* '' */
.icon-star:before { content: '\E801'; } /* '' */
.icon-star-empty:before { content: '\E802'; } /* '' */
.icon-camera:before { content: '\E803'; } /* '' */
.icon-ok:before { content: '\E804'; } /* '' */
.icon-link:before { content: '\E805'; } /* '' */
.icon-attach:before { content: '\E806'; } /* '' */
.icon-gplus:before { content: '\F05A'; } /* '' */
.icon-twitter:before { content: '\F099'; } /* '' */
.icon-facebook:before { content: '\F09A'; } /* '' */
.icon-github-circled:before { content: '\F09B'; } /* '' */
.icon-pinterest-circled:before { content: '\F0D2'; } /* '' */
.icon-mail-alt:before { content: '\F0E0'; } /* '' */
.icon-linkedin:before { content: '\F0E1'; } /* '' */
.icon-youtube-play:before { content: '\F16A'; } /* '' */
.icon-instagram:before { content: '\F16D'; } /* '' */
.icon-apple:before { content: '\F179'; } /* '' */
.icon-dribbble:before { content: '\F17D'; } /* '' */
.icon-codeopen:before { content: '\F1CB'; } /* '' */
.icon-angellist:before { content: '\F209'; } /* '' */
.icon-creative-commons:before { content: '\F25E'; } /* '' */
.icon-industry:before { content: '\F275'; } /* '' */
.icon-facebook-squared:before { content: '\F308'; } /* '' */
.icon-linkedin-squared:before { content: '\F30C'; } /* '' */

.icon-mail:before { content: '\E800'; } /* '' */
.icon-star:before { content: '\E801'; } /* '' */
.icon-star-empty:before { content: '\E802'; } /* '' */
.icon-camera:before { content: '\E803'; } /* '' */
.icon-ok:before { content: '\E804'; } /* '' */
.icon-link:before { content: '\E805'; } /* '' */
.icon-attach:before { content: '\E806'; } /* '' */
.icon-gplus:before { content: '\F05A'; } /* '' */
.icon-twitter:before { content: '\F099'; } /* '' */
.icon-facebook:before { content: '\F09A'; } /* '' */
.icon-github-circled:before { content: '\F09B'; } /* '' */
.icon-pinterest-circled:before { content: '\F0D2'; } /* '' */
.icon-mail-alt:before { content: '\F0E0'; } /* '' */
.icon-linkedin:before { content: '\F0E1'; } /* '' */
.icon-youtube-play:before { content: '\F16A'; } /* '' */
.icon-instagram:before { content: '\F16D'; } /* '' */
.icon-apple:before { content: '\F179'; } /* '' */
.icon-dribbble:before { content: '\F17D'; } /* '' */
.icon-codeopen:before { content: '\F1CB'; } /* '' */
.icon-angellist:before { content: '\F209'; } /* '' */
.icon-creative-commons:before { content: '\F25E'; } /* '' */
.icon-industry:before { content: '\F275'; } /* '' */
.icon-facebook-squared:before { content: '\F308'; } /* '' */
.icon-linkedin-squared:before { content: '\F30C'; } /* '' */
body {
  margin: 0; }

h1 {
  margin: 0; }

#app {
  width: 100%;
  position: relative;
  background-color: #f8f991;
  color: #444b6e;
  font-family: 'Arbutus Slab';
  font-size: 100%; }
  #app .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #app .wrapper header {
      text-align: center;
      font-size: 90%; }
      #app .wrapper header h1 {
        font-family: 'Arvo', serif;
        font-size: 22vmin;
        color: #444b6e;
        padding: 0;
        margin: 0; }
      #app .wrapper header p {
        margin-top: 0;
        color: #444b6e;
        padding-bottom: 0.4em;
        font-size: 1.8em; }
      #app .wrapper header h2 {
        padding: 0;
        margin: 0;
        font-size: 3vmin;
        font-family: 'Arbutus Slab';
        color: #444b6e; }
    #app .wrapper footer p {
      margin: 0; }
    #app .wrapper footer .footer-wrapper {
      margin-bottom: -10em;
      padding-top: 10em;
      font-size: 0.8em;
      line-height: 2em;
      text-align: center;
      font-family: 'Arbutus Slab'; }
      #app .wrapper footer .footer-wrapper a {
        padding: 4px 5px;
        border-radius: 1px;
        text-decoration: none;
        font-family: 'arvo';
        background-color: #444b6e;
        color: #f8f991; }
        #app .wrapper footer .footer-wrapper a:hover {
          color: #3d315b;
          background-color: #9ab87a; }

