// pure
@import '~/../node_modules/purecss/build/base.css'; // grid base
@import '~/../node_modules/purecss/build/grids.css'; // grid base
// @import '~/../node_modules/purecss/build/forms.css';  // formularios
// @import '~/../node_modules/purecss/build/buttons.css'; // botones
// @import '~/../node_modules/purecss/build/menus.css'; // botones
// @import '~/../node_modules/purecss/build/tables.css'; // botones
// @import '~/../node_modules/purecss/build/grids-responsive.css'; // grid base responsive

// Fontello
@import './lib/_fontello.css'; // grid base
@import './lib/_fontello-codes.css'; // grid base

// set./
@import './lib/colors';
@import './lib/fonts';


body {
  margin: 0;
  background-color: $background;
}

h1 {
  margin: 0;
}

#app {
  width: 100%;
  position: relative;
  color: $text;
  font-family: 'Josefin Sans';
  font-size: 100%;

  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    header {
      text-align: center;
      font-size: 90%;
      
      
      .header-container {
        position: relative;

        $dimensions: 7vmin;
        .catParts {
          left: calc(50% + 2vmin);
          bottom: 4vmin;
          position: absolute;
          width: $dimensions;
        }
        
        .cat1 {
          z-index: -1;
          margin-bottom: 0.9vmin;
          margin-left: ((($dimensions / 2) * -1) - 6vmin);
        }
        
        .cat2 {
          margin-left: ((($dimensions / 2) * -1) - 0.5vmin);          
        }
        
        img {
          width: 100%;
        }

        h1 {
          z-index: 1;
          font-family: 'Arvo', serif;
          font-size: 22vmin;
          color: $color4;
          padding: 0;
          margin: 0;
        }
        
      }
      p {
        margin-top: 0;
        color: $color4;
        padding-bottom: 0.4em;
        font-size: 1.8em;
      }
      
      h2 {
        padding: 0;
        margin: 0;
        font-size: 3vmin;
        font-family: 'Arbutus Slab';
        color: $color4;
        line-height: 1.4em;
      }
    }

    main {
      .webpack-wrapper {
        padding: 5em 0em;
        .webpack-title {
          text-align: center;
          font-family: 'Josefin Sans';
          font-size: 2vmin;
        }
  
        .webpack-on {
          display: flex;
          justify-content: center;
          align-items: center;
          
          .webpack-item {
            text-align: center;
            padding: 4px 5px;
            border-radius: 2px;
            margin: 5px;
            
            &:before {
              content: '';
              border-left: 1px solid $color4;
              width: 2px;
              display: block;
            }
  
            i {
              font-size: 0.6em;
              color: $color2;
            }
            p {
              margin: 0;
              padding: 0;
              font-size: 1.6vmin;
              font-family: 'Josefin Sans';
            }
          }
        }
      }
    }

    footer {
      p {
        margin: 0;
      }
      .footer-wrapper {
        font-size: 0.8em;
        line-height: 2em;
        text-align: center;
        font-family: 'Josefin Sans';
        .run {
          padding: 4px 5px;
          border-radius: 1px;
          text-decoration: none;
          font-family: 'arvo';
          background-color: $color4;
          color: $color1;
          
          &:hover {
            color: $color5;
            background-color: $color2;
          }

        }

        .social {
          margin-top: 2em;
          font-size: 1em;
          display: flex;
          justify-content: center;

          a {
            text-decoration: none;
            color: $color4;
            font-size: 1.3em;
            padding: 4px;
            &:hover {
              color: $color3;
            }
          }
        }
      }
    }
  }
}
